<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Showing checkups for {{animal.name}}</h1>

    {% for c in animal.checkups %}
    <ul>
        <li>{{ c.date}}</li>
        <li>{{ c.vet}}</li>
        <li>{{ c.diagnosis}}</li>
    </ul>
    {%else%}
        No checkups have been made
    {%endfor%}
</body>
</html>