<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ol>
        {%for r in results %}
        <li>{{r.name}}</li>
        {%endfor%}
    </ol>

    <div>
    {%if max_pages <= 10 %}
        {%for p in range(1, max_pages+1)%}
        <a href="?current_page={{p}}">{{p}}</a>
        {%endfor%}
    {%else%}

     {%for p in range(1,4)%}
        <a href="?current_page={{p}}">{{p}}</a>
     {%endfor%}   
    
    {% if current_page >= 3%}
    ...

     {%for p in range(current_page-2,current_page+2)%}
        <a href="?current_page={{p}}">{{p}}</a>
     {%endfor%} 
    {%endif%}  
    ...


    {%for p in range(max_pages-3,max_pages+1)%}
        <a href="?current_page={{p}}">{{p}}</a>
     {%endfor%}   


    {%endif%}

    


    </div>
</body>
</html>